<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
default-destroy-method="defaultDestroy" default-init-method="defaultInit">

    <bean id="beanLiftCycle" class="beanLifeCycle.BeanLifeCycle" init-method="start" destroy-method="stop">
    </bean>

</beans>
